# ==========================================
# Python
# ==========================================

# Virtual Environment
.venv/
venv/

# Python cache
__pycache__/
*.py[cod]

# ==========================================
# Environment
# ==========================================

# Environment variables
.env

# ==========================================
# IDEs
# ==========================================

# VS Code
.vscode/

# JetBrains IDEs
.idea/

# ==========================================
# Operating Systems
# ==========================================

# macOS
.DS_Store

# Windows
Thumbs.db

# ==========================================
# Testing
# ==========================================

.pytest_cache/

# ==========================================
# Type Checkers
# ==========================================

.mypy_cache/
.pyright/

# ==========================================
# Coverage
# ==========================================

.coverage
htmlcov/
